[Desktop Entry]
Encoding=UTF-8
Name=Link to React: S1. Flex
Type=Link
URL=https://itacademy.barcelonactiva.cat/mod/assign/view.php?id=1916
Icon=text-html
